
    body {
        background-color: #274d6f;
        font-family: Montserrat;
    }
    img {
        width: 310px;
        height: 310px;
    }
    .center {
        display: block;
        margin-top: 105px;
        margin-left: auto;
        margin-right: auto;
      }
    .fontlogo {
        font-size: 25px;
        font-weight: bold;
        color: #BAEDFF;
        margin-left: auto;
        margin-right: auto;
    }
    .boxmeanu {
        display: block;
        background-color: rgba(20, 25, 35, 0.1);
        width: 414px;
        height: 111px;
        margin-top: 104px;
        /* filter: brightness(4); */
        border-radius: 20px 20px 0px 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .boxbtn {
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        color: #E7E7EA;
        font-family: Montserrat;
        margin-top: 29px;
        margin-left: 52px;
    }
    .boxbtn:hover {
        color: black;
    }