
   body {
    background-color: #274d6f;
    font-family: Montserrat;
}
.fontlogo {
    font-size: 25px;
    font-weight: bold;
    color: #E7E7EA;
    margin-left: auto;
    margin-right: auto;
}
.center {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
.resigbtn {
    width: 131px;
    height: 45px;
    color: #274D6F;
    background-color: #D5FAFF;
    margin-top: 20px;
    border-radius: 10px 0px 0px 10px;
}
.boxlogin {
    display: block;
    background-color: rgba(20, 25, 35, 0.1);
    height: 482px;
    margin-top: 43px;
    width: 374px;
    /* filter: brightness(4); */
    border-radius: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.fontsize {
    color: #E7E7EA;
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 60px;
}
.boxinput {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
    width: 250px;

}
.logo {
    width: 20px;
    height: 23px;
    margin-right: 3px;
}
.logininput {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 22px;
    padding-right: 22px;
}
.loginbtn {
    background-color: #141923;
    color: #fff;
    border: 2px solid #9FF9D0;
}